.App{
  margin: 25px;
}
.ant-select-item{
  background-color: white !important;
}
.ant-select-item-option-state{
  display: none !important;
}
.ant-select-selector .select-items-label{
  display: block !important;
}

.select-items-label{
  /* padding-right: 20px; */
  display: flex;
  justify-content: space-between;
}

.ant-select-selection-item-content >
  .anticon anticon edit{
    display: none;
  }
.ant-select-selector .select-items-label .anticon{
  display: none !important;
}

.ant-select-selector .select-items-label {
  padding-right: 0px;
}

.icon-hover-box {
  border: 1px solid transparent; /* transparent border to avoid shifting content on hover */
  border-radius: 4px;
  /* width: 20px; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-hover-box:hover {
  border-color: #d9d9d9; /* color of the border on hover */
  cursor: pointer; /* change cursor to indicate it's clickable */
}

.ant-select-item-option-selected {
  background-color: transparent !important; /* Ensure no background color persists */
  color: inherit; /* Use the default text color */
}


.ant-select-item-option-active:not(.ant-select-item-option-selected) {
  background-color: #1890ff; /* Temporary background color when clicked */
  /* Define other styles for active state if needed */
}

