.App{
  margin: 25px;
}
.ant-select-item{
  background-color: white !important;
}
.ant-select-item-option-state{
  display: none !important;
}
.ant-select-selector .select-items-label{
  display: block !important;
}

.select-items-label{
  /* padding-right: 20px; */
  display: flex;
  justify-content: space-between;
}

.ant-select-selection-item-content >
  .anticon anticon edit{
    display: none;
  }
.ant-select-selector .select-items-label .anticon{
  display: none !important;
}

.ant-select-selector .select-items-label {
  padding-right: 0px;
}

